<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Resillience" value="http://120.78.1.82:8081/repository/nuget-hosted/" />
    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />-->
    <add key="azure" value="https://nuget.cdn.azure.cn/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Resillience>
      <add key="Username" value="yanhui" />
      <add key="ClearTextPassword" value="1234567890yanh" />
    </Resillience>
  </packageSourceCredentials>
</configuration>
